/*Subir a https://pages.github.com/ con mi cuenta de Github*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.fondo-color{
    width: 100%; /*100% porque el elemento padre ya poseé el 100 del VW*/
    height: 50%;
    background-color: #000080;
}

.fondo-blanco{
    width: 100%;
    height: 50%;
    background-color: white;
}

/* Clase de flex ya que muchos elementos usán estos ajustes */
.flex{
    display: flex;
    flex-direction: column;
}

main{
    align-items: center;
}

/**Recuadro en el que se encuentra todo*/
.tarjeta{
    background-color: white;
    max-width: 90vw;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 15px;
}

/**Es el @ del usuario*/
.nombreUsuario{
    align-items: center;
    font-weight: bold;
    margin-top: 15px;
}

/** Descripción del usuario*/
.descripcion{
    align-items: center;
    margin: 20px 20px 0px 20px;
}

/** Foto de perfil*/
.descripcion > img{
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    border-radius: 50%; /** Transforma la imagen en un circulo si es un cuadrado*/   
}

/**Alinear texto en la descripción del usuario*/
.descripcion > p{
    text-align: center;
    line-height: 22px;
}

/* DIV todos los botones */
.botonesSociales{
    display: flex;
    flex-direction: column;
}

/*Clase de todos los botones*/
.botonSocial{
    border: 1px solid black;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    flex-direction: row; /*Alinear al centro en una linea ya que los emoticonos revientan todo*/
    justify-content: center;
    align-items: center;
}

.firma{
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Boton de YouTube y su emoji*/
.YouTube{
    color: white;
    background-color: #FF0000;
}

/*Cambiar el color del boton al pasar el cursor*/
.YouTube:hover{
    background-color: #8d0000;
}

/*Boton de Twitter*/
.Twitter{
    color: white;
    background-color: #00ACEE;
}

/*Boton de Facebook*/
.Facebook{
    color: white;
    background-color: #3B5998;
}

/*Boton de Instagram*/
.Instagram{
    color: white;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/*Animación del boton TikTok, es un boton dentro de un div con la animación, la paleta de colores es la oficial de TikTok*/
.luces{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.luces::before{
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent,transparent,transparent,#ff0050);
    animation: luz 4s linear infinite;
}

.luces::after{
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: conic-gradient(transparent,transparent,transparent,#00f2ea);
    animation: luz 4s linear infinite;
    animation-delay: -2s;
}

@keyframes luz{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/*Boton dentro del div de TikTok*/
.TikTok{
    position: absolute;
    inset: 1.5px;
    background-color: black;
    color: white;
    z-index: 1;
}

/*Boton de LinkedIn*/
.LinkedIn{
    color: white;
    background-color: #0072B1;
}

/*Boton de Paypal*/
.PayPal{
    color:white;
    background-color: #3B7BBF;
}

/*Boton de Instagram y su emoji*/
.GitHub{
    color: white;
    background: #171515;
}

/*Boton de CashApp y su emoji*/
.CashApp{
    color: white;
    background-color: #08b651;
}

/*Cambiar el color del boton al pasar el cursor*/
.CashApp:hover{
    color: white;
    background-color: #048c2c;
}

@media (min-width: 900px){
    main{
        justify-content: center;
        min-height: 100vh;
    }

    .tarjeta{
        display: grid;/*Divide la pagina en segmentos*/
        grid-template-columns: 1fr 1fr;/*Fracciones de ratio en las columnas*/
        grid-template-rows: auto auto auto;
        max-width: 900px;
        margin-top: 0px; /*No está centrado al 100% debido a el margen dado anteriormente*/
    }

    .descripcion{
        grid-column: 1/2;/*Columna del grid (Segmentos verticales como coordenadas entre columna 1 y 2)*/
        grid-row: 1/2;/*Fila del grid (Segmentos Horizontales entre la fila 1 y 2)*/
        grid-template-rows: auto auto auto;/*Y en las filas*/
        flex-direction: column-reverse; /*Inverso de las columnas de grid*/
    }
    .nombreUsuario{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .botonSocial{
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .firma{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .YouTube{/*Youtube porque es el boton que está más arriba*/
        /* border-radius: 0px 13px 0px 0px; */
        border-top-right-radius: 13px;/*Es lo mismo que la linea de arriba y redondea la esquina que queda suelta*/
    }
}